[user]
  name = Reid Mitchell
  email = reidmitchell1@gmail.com

[alias]
  ci = commit
  co = checkout
  st = status
  cp = cherry-pick
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[core]
  editor = nvim

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[commit]
  verbose = true
